/*
This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.
*/

.voice-note-ribbon.voice-note-recording {
	color: var(--text-accent);
}

.voice-note-ribbon.voice-note-processing {
	color: var(--text-muted);
}
